@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Regular.woff);
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Bold.woff);
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: "Poppins Black";
    src: url(/assets/fonts/Poppins-Black.woff);
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Italic.woff);
    font-style: italic;
    font-weight: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-Bold-italic.woff);
    font-style: italic;
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Regular.woff);
    font-weight: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Bold.woff);
    font-weight: bold;
  }

  

    