@import '../base/imports';

.required-asterisk{
    color: $required-red;
    vertical-align: super;
    font-size: 8pt;
}
.text-entry{
    height: 30px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 7px
    
}
.message-entry{
    height: 120px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 7px
}
.contact-form{
    padding: 40px;
    border-radius: $contact-form-border-radius;
    box-shadow: $box-shadow;
}