.gallery {
    margin: 70px auto;
    max-width: 90%;
    text-align: center;
}

.gallery-image{
    padding: 6px;
    align-items: center;
    justify-content: center;
    height: 40vh;
    max-width:90%;
    margin:auto;
    object-fit: contain;
}

//----------START Lightbox-----------

.lightbox {
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.lightbox-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}


//----------END Lightbox-----------